<div class="info-container">
    <h1 class="space-grotesk-bold m-2">Manage your Barbershop <br> and create reservations</h1>
    <h4 class="space-grotesk-regular">Control all aspects of your barbershop and let the clients do the rest, all in one app</h4>
    <section class="buttons-container">
        <div class="download-buttons">
            <a href="https://apps.apple.com/app/your-app-id" target="_blank">
                <img src="assets/images/store-badges/appstore.svg" height="60" alt="Download on the App Store">
            </a>
            <a href="https://play.google.com/store/apps/details?id=your.package.name" target="_blank">
                <img src="assets/images/store-badges/googleplay.svg"  height="60" alt="Get it on Google Play">
            </a>
        </div>
    </section>
</div>