.body-container {
    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: 20px;
    height: 100vh;
}

#info-container {
    display: flex;
}

.info-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 8rem;
    margin-left: 3rem;
    max-width: 45rem;
}

.image-container {
    height: 100%;
    width: 100%;
    background-color: var(--secondary-color);
}

.buttons-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 4rem;
}

.download-buttons {
    display: flex;
    gap: 5rem;
    justify-content: center;
}