.body-container {
    display: grid;
    grid-template-columns: 7fr 5fr;
    height: 100vh;
}

#info-container {
    display: flex;
}

.info-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 15%;
    margin-left: 3rem;
    margin-right: 3rem;
    max-width: 45rem;
}

.image-container {
    display: flex;
    align-items: flex-end;
    height: 100vh;
    width: 100%;
    background-color: var(--secondary-color);
}

.image-container img {
    width: 100%;
    height: auto;
    max-height: 70vh;
    object-fit: contain;
}

.buttons-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 4rem;
}

.download-buttons {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

/* Tablet screen */
@media screen and (max-width: 1024px) {
    .body-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .buttons-container {
        margin-top: 4rem;
    }

    .info-container{
        margin-top: 10%;
    }

    .image-container {
        height: 85vh;
    }
}

/* Tablet screen */
@media screen and (max-width: 768px) {
    .info-container{
        margin-top: 15%;
    }
}